extends layout
block body-content
    div#content
        h2
            a(href="/GGnStatus/") GGnStatus.info
        h3 About
        p The services are checked every minute, if a service is down for more than 3 minutes it's reflected on the site.

        h3 API

        p The following API endpoints are available:

        p.api
            a(href="api/uptime") api/uptime
            p.api-description Uptime of all the components. [hours]

        p.api
            a(href="api/uptime/tracker") api/uptime/tracker
            p.api-description Tracker uptime history over the last ~24 hours. [hours]
            p.api-description Timestamp: 200320132025 [DDMMYYYYHHMM]

        p.api
            a(href="api/status") api/status
            p.api-description The service status. [1 for up, 0 down]

        p.api
            a(href="api/records") api/records
            p.api-description The uptime records for the components. [hours]

        h3 Bugs & Feedback
        p
            a(href="https://gazellegames.net/user.php?id=31118") GazelleGames and GazelleGames IRC Network
        p
            a(href="https://github.com/REPOmAN2v2/GGnStatus") GGnStatus on GitHub
        p
            a(href="https://gazellegames.net/forums.php?action=viewthread&threadid=5922") Tech Talk thread on GazelleGames
        p
            a(href="https://whatstatus.info/about") Credit goes to the original developer

        h3 Powered by

        ul.about-logos
            li
                img(src="public/images/logos/nodejs.png")
            li
                img(src="public/images/logos/redis.png")
        
    a(href="https://twitter.com/GazelleGames")
        img(src="public/images/twitter.png", alt="Follow GazelleGames on Twitter!", class="follow-us")